.login-lembrado
{
	img
	{
		width:30%;
		height:20%;
	}
	
	.selectCustom
	{
		margin-left:auto;
		margin-right:auto;
		display:block;
		max-width:100%;
		width:90%;
		background-color:white;
		align:center;
	}
	
	input.camposCent
	{
		height: 40px;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		display:block;
		max-width:100%;
		min-width:0%;
		width:90%;
	}
	
	p
	{
		margin: 20px 0;
		line-height: 22px;
		font-size: 16px;
	
		button
		{
			height:55px;
			width:90%;
			min-width:0%;
			max-width:100%;
		}

	}
}