.consultar-nota-data
{
	ion-content
	{
		background-color: #E4E3FA;
		p
		{
			button
			{
				height:55px;
				width:100%;
				min-width:0%;
				max-width:100%;
			}
		}
		
		input
		{
			height: 50px;
		}
	}
}
